.cards{
    border-radius: 10%;
    text-align: center;
    background-color:rgba(63,94,251,1);
    width: 250px;
    box-shadow: 5px 5px black;
    transition: all 0.5s;
}
.cards:hover{
    border: 10px teal solid;
}
body{
    font-family: monospace;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.Bar{
    padding: 10px;
    display: flex;
    align-items:center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.Action{
    display: flex;
justify-content: space-evenly;
}
h1{
    text-align: center;
}
li{
    float: right;
    margin: 30px;
}
